@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.btn-custom {
	box-shadow:inset 0px 1px 0px 0px white !important;
	background-color:white;
	border-radius:21px;
	border:9px solid #000000;
	display:flex;
	cursor:pointer;
	color:#000000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.1em; ;
	font-weight:bold;
	padding:5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    text-align:center;
}
.btn-custom:hover { 
	background-color:transparent;
}
.btn-custom:active {
	position:relative;

	top:1px;
}

#mainnav {
	display:flex;
    justify-content: center;
}

  #punny{
	background-image: url("images/Coolgray2.jpg");
   }